<?xml version="1.0" encoding="utf-8" ?>
<web-app
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<display-name>GenexusWebApp</display-name>

	<listener>
		<listener-class>com.genexus.webpanels.ServletEventListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.genexus.webpanels.SessionEventListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>JerseyListener</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>com.idquilmes.GXApplication</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
			<param-value>com.sun.jersey.api.container.filter.GZIPContentEncodingFilter</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
			<param-value>com.sun.jersey.api.container.filter.GZIPContentEncodingFilter</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>GXResourceProvider</servlet-name>
		<servlet-class>com.genexus.webpanels.GXResourceProvider</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GXObjectUploadServices</servlet-name>
		<servlet-class>com.genexus.webpanels.GXObjectUploadServices</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GXOAuthAccessToken</servlet-name>
		<servlet-class>com.genexus.webpanels.GXOAuthAccessToken</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GXOAuthLogout</servlet-name>
		<servlet-class>com.genexus.webpanels.GXOAuthLogout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GXOAuthUserInfo</servlet-name>
		<servlet-class>com.genexus.webpanels.GXOAuthUserInfo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GAMOAuthSignIn</servlet-name>
		<servlet-class>genexus.security.api.agamextauthinput</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GAMOAuthCallback</servlet-name>
		<servlet-class>genexus.security.api.agamextauthinput</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GAMOAuthAccessToken</servlet-name>
		<servlet-class>genexus.security.api.agamoauth20getaccesstoken</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GamAccessTokenV2</servlet-name>
		<servlet-class>genexus.security.api.agamoauth20getaccesstoken_v20</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GAMOAuthUserInfo</servlet-name>
		<servlet-class>genexus.security.api.agamoauth20getuserinfo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OAuthUserInfoV2</servlet-name>
		<servlet-class>genexus.security.api.agamoauth20getuserinfo_v20</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OAuthSSORestV2</servlet-name>
		<servlet-class>genexus.security.api.aGAMSSORestRequestTokenAndUserInfo_v20</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GAMOAuthSignOut</servlet-name>
		<servlet-class>genexus.security.api.agamextauthinput</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GAMOAuthRequestTokenService</servlet-name>
		<servlet-class>genexus.security.api.agamstsauthappgetaccesstoken</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GAMOAuthQueryAccessToken</servlet-name>
		<servlet-class>genexus.security.api.agamstsauthappvalidaccesstoken</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GAMSaml20SignOut</servlet-name>
		<servlet-class>artech.security.saml.servlet.LOGOUT</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GAMSaml20SignIn</servlet-name>
		<servlet-class>artech.security.saml.servlet.SSO</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GXValidService</servlet-name>
		<servlet-class>com.genexus.webpanels.GXValidService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>com.idquilmes.gamexamplechangepassword</servlet-name>
		<servlet-class>com.idquilmes.gamexamplechangepassword</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>com.idquilmes.gamexamplelogin</servlet-name>
		<servlet-class>com.idquilmes.gamexamplelogin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>com.idquilmes.gamexamplenotauthorized</servlet-name>
		<servlet-class>com.idquilmes.gamexamplenotauthorized</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>com.idquilmes.gamexamplerecoverpasswordstep1</servlet-name>
		<servlet-class>com.idquilmes.gamexamplerecoverpasswordstep1</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>com.idquilmes.gamexampleregisteruser</servlet-name>
		<servlet-class>com.idquilmes.gamexampleregisteruser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>com.idquilmes.gamexampleupdateregisteruser</servlet-name>
		<servlet-class>com.idquilmes.gamexampleupdateregisteruser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>com.idquilmes.gamhome</servlet-name>
		<servlet-class>com.idquilmes.gamhome</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>com.idquilmes.panelaks</servlet-name>
		<servlet-class>com.idquilmes.panelaks</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>JerseyListener</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GXResourceProvider</servlet-name>
		<url-pattern>/servlet/com.genexus.webpanels.GXResourceProvider</url-pattern>
		<url-pattern>/com.genexus.webpanels.GXResourceProvider</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GXObjectUploadServices</servlet-name>
		<url-pattern>/gxobject</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GXOAuthAccessToken</servlet-name>
		<url-pattern>/oauth/access_token</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GXOAuthLogout</servlet-name>
		<url-pattern>/oauth/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GXOAuthUserInfo</servlet-name>
		<url-pattern>/oauth/userinfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GAMOAuthSignIn</servlet-name>
		<url-pattern>/oauth/gam/signin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GAMOAuthCallback</servlet-name>
		<url-pattern>/oauth/gam/callback</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GAMOAuthAccessToken</servlet-name>
		<url-pattern>/oauth/gam/access_token</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GamAccessTokenV2</servlet-name>
		<url-pattern>/oauth/gam/v2.0/access_token</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GAMOAuthUserInfo</servlet-name>
		<url-pattern>/oauth/gam/userinfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OAuthUserInfoV2</servlet-name>
		<url-pattern>/oauth/gam/v2.0/userinfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OAuthSSORestV2</servlet-name>
		<url-pattern>/oauth/gam/v2.0/RequestTokenAndUserinfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GAMOAuthSignOut</servlet-name>
		<url-pattern>/oauth/gam/signout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GAMOAuthRequestTokenService</servlet-name>
		<url-pattern>/oauth/RequestTokenService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GAMOAuthQueryAccessToken</servlet-name>
		<url-pattern>/oauth/QueryAccessToken</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GAMSaml20SignOut</servlet-name>
		<url-pattern>/saml/gam/signout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GAMSaml20SignIn</servlet-name>
		<url-pattern>/saml/gam/signin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GXValidService</servlet-name>
		<url-pattern>/gx_valid_service</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>com.idquilmes.gamexamplechangepassword</servlet-name>
		<url-pattern>/servlet/com.idquilmes.gamexamplechangepassword</url-pattern>
		<url-pattern>/com.idquilmes.gamexamplechangepassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com.idquilmes.gamexamplelogin</servlet-name>
		<url-pattern>/servlet/com.idquilmes.gamexamplelogin</url-pattern>
		<url-pattern>/com.idquilmes.gamexamplelogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com.idquilmes.gamexamplenotauthorized</servlet-name>
		<url-pattern>/servlet/com.idquilmes.gamexamplenotauthorized</url-pattern>
		<url-pattern>/com.idquilmes.gamexamplenotauthorized</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com.idquilmes.gamexamplerecoverpasswordstep1</servlet-name>
		<url-pattern>/servlet/com.idquilmes.gamexamplerecoverpasswordstep1</url-pattern>
		<url-pattern>/com.idquilmes.gamexamplerecoverpasswordstep1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com.idquilmes.gamexampleregisteruser</servlet-name>
		<url-pattern>/servlet/com.idquilmes.gamexampleregisteruser</url-pattern>
		<url-pattern>/com.idquilmes.gamexampleregisteruser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com.idquilmes.gamexampleupdateregisteruser</servlet-name>
		<url-pattern>/servlet/com.idquilmes.gamexampleupdateregisteruser</url-pattern>
		<url-pattern>/com.idquilmes.gamexampleupdateregisteruser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com.idquilmes.gamhome</servlet-name>
		<url-pattern>/servlet/com.idquilmes.gamhome</url-pattern>
		<url-pattern>/com.idquilmes.gamhome</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com.idquilmes.panelaks</servlet-name>
		<url-pattern>/servlet/com.idquilmes.panelaks</url-pattern>
		<url-pattern>/com.idquilmes.panelaks</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>gxcfg</param-name>
		<param-value>com.idquilmes.GXcfg</param-value>
	</context-param>
	<filter>
		<filter-name>ExpiresFilter</filter-name>
		<filter-class>com.genexus.filters.ExpiresFilter</filter-class>
		<init-param>
			<param-name>ExpiresByType image</param-name>
			<param-value>access plus 36 hours</param-value>
		</init-param>
		<init-param>
			<param-name>ExpiresByType text/css</param-name>
			<param-value>access plus 36 hours</param-value>
		</init-param>
		<init-param>
			<param-name>ExpiresByType application/javascript</param-name>
			<param-value>access plus 36 hours</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>ExpiresFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>


</web-app> 